.table {
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
}

.table thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #000000;
  background: #e3f9fe;
  margin: 20px 10px;
}

.table td {
  width: 200px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.table tr:nth-child(even) {
  background: #ecf8fb;
}

.table a {
  text-decoration: none;
}
